.cross {
    line-height: 2;
}

.table-input {
    width: 60px;
    border: none !important;
    text-align: center;
    background: none;
}


.highlight {
    background-color: #8BC34A;
}

.semi-highlight {
    color: black;
    background-color: #DCEDC8;
}